In [1]:
import pandas as pd

In [2]:
%matplotlib inline

In [3]:
from sklearn import linear_model, datasets
import numpy as np

In [4]:
from sklearn.metrics import accuracy_score, mean_squared_error
import matplotlib.pyplot as plt

In [5]:
file = pd.read_csv('../brooklyn-housing/brooklyntrainsetconvert.csv')

C:\Users\User\Miniconda3\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (42,43,45,47,49,88) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
file.head()

,Unnamed: 0,Unnamed: 0.1,X,borough,neighborhood,building_class_category,tax_class,block,lot,easement,...,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLA,PFIRM15_FL,Version,MAPPLUTO_F,SHAPE_Leng,SHAPE_Area
0,0,3,3,3,BROOKLYN HEIGHTS,0,4,204,1,NaN,...,NaN,0.0,NaN,1.0,NaN,NaN,17V1.1,0.0,890.718521,34656.447240
1,1,6,6,3,WILLIAMSBURG-SOUTH,1,4,2428,1,NaN,...,E-337,0.0,NaN,1.0,NaN,NaN,17V1.1,0.0,1006.337999,58564.864312
2,2,7,7,3,BROOKLYN HEIGHTS,2,4,250,44,NaN,...,NaN,0.0,NaN,1.0,NaN,NaN,17V1.1,0.0,460.031680,12947.145471
3,3,10,10,3,NAVY YARD,3,4,1876,1,NaN,...,NaN,0.0,NaN,1.0,NaN,NaN,17V1.1,0.0,1565.914773,118754.785737
4,4,11,11,3,WILLIAMSBURG-NORTH,4,4,2287,16,NaN,...,E-138,0.0,NaN,1.0,1.0,1.0,17V1.1,0.0,1031.123666,63814.710780

In [7]:
copy = file.copy(deep=True)
copy = copy.drop(['apartment_number', 'APPBBL', 'Unnamed: 0', 'SHAPE_Leng', 'SHAPE_Area', 'Sanborn','X'], axis=1)
copy.head()

,Unnamed: 0.1,borough,neighborhood,building_class_category,tax_class,block,lot,easement,building_class,address,...,ZoneMap,ZMCode,TaxMap,EDesigNum,APPDate,PLUTOMapID,FIRM07_FLA,PFIRM15_FL,Version,MAPPLUTO_F
0,3,3,BROOKLYN HEIGHTS,0,4,204,1,NaN,O6,29 COLUMBIA HEIGHTS,...,12d,NaN,30106.0,NaN,NaN,1.0,NaN,NaN,17V1.1,0.0
1,6,3,WILLIAMSBURG-SOUTH,1,4,2428,1,NaN,V1,329 KENT AVENUE,...,12d,NaN,30806.0,E-337,NaN,1.0,NaN,NaN,17V1.1,0.0
2,7,3,BROOKLYN HEIGHTS,2,4,250,44,NaN,O4,16 COURT STREET,...,12d,NaN,30107.0,NaN,NaN,1.0,NaN,NaN,17V1.1,0.0
3,10,3,NAVY YARD,3,4,1876,1,NaN,E9,9-47 HALL ST,...,12d,NaN,30701.0,NaN,NaN,1.0,NaN,NaN,17V1.1,0.0
4,11,3,WILLIAMSBURG-NORTH,4,4,2287,16,NaN,Z9,20 NORTH 12 STREET,...,12c,NaN,30804.0,E-138,NaN,1.0,1.0,1.0,17V1.1,0.0

In [8]:
copy = copy[copy.sale_price < 50]
copy = copy.loc[:, copy.isnull().mean() < .8]

In [9]:
copy.dropna(inplace = True)
len(copy)

112415

In [10]:
df_train_labels = copy['sale_price']
train_features = copy.drop(['sale_price'], axis = 1)
df_train_features = train_features.select_dtypes(include=['int','float'])
# train_features.head()
# print(len(train_features))

In [11]:
def brute_force_reg(data_in, target, split = 0.8):
    num_row = int(np.ma.size(data_in, 0) * split)
    num_col = int(np.ma.size(data_in, 1))
    train_x = data_in[0:num_row]
    train_y = target[0:num_row]
    test_x = data_in[num_row:]
    test_y = target[num_row:]
    
    '''
    # column-wise regression
    x_entries = []
    y_entries = []
    count = -1
    for column_x in train_x:
        count = count + 1
        reg = linear_model.LinearRegression()
        reg.fit(train_x[column_x].values.reshape(-1, 1), train_y.values.reshape(-1, 1))
        pred = reg.predict(test_x[column_x].values.reshape(-1, 1))
        print("{} {}".format(column_x, mean_squared_error(y_pred=pred, y_true=test_y)))
        x_entries.append(count)
        y_entries.append(mean_squared_error(y_pred=pred, y_true=test_y))

    print(x_entries)
    print(y_entries)
    print("Min Min Sqr Error: {}".format(min(y_entries)))
    plt.figure()
    plt.plot(x_entries, y_entries)
    '''
    
    # overall regression
#     reg = linear_model.LinearRegression()
#     reg.fit(train_x.values.reshape(-1, 1), train_y.values.reshape(-1, 1))
#     pred = reg.predict(test_x[column_x].values.reshape(-1, 1))
#     print("{} {}".format(column_x, mean_squared_error(y_pred=pred, y_true=test_y)))

In [12]:
# brute_force_reg(test_data, target_data)

In [13]:
df_train_features = np.array(df_train_features)
df_train_labels = np.array(df_train_labels)
test_features = df_train_features[-10000:,:]
test_labels = df_train_labels[-10000:]
df_train_labels = df_train_labels[:-10000]
df_train_features = df_train_features[:-10000,:]

In [14]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 0, max_depth = 2)
# Train the model on training data
rf.fit(df_train_features, df_train_labels)
print("DONE")

C:\Users\User\Miniconda3\envs\py36\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

DONE

In [15]:
print(rf.feature_importances_)

[0.00000000e+00 1.62426072e-03 1.11925298e-03 4.14273224e-04
 0.00000000e+00 1.50234637e-04 0.00000000e+00 3.72228244e-04
 0.00000000e+00 3.30518510e-03 1.33890466e-04 0.00000000e+00
 0.00000000e+00 1.32493751e-01 0.00000000e+00 1.57260613e-02
 0.00000000e+00 2.96284941e-03 0.00000000e+00 0.00000000e+00
 3.49450585e-04 1.55552300e-04 1.38430910e-02 0.00000000e+00
 2.62286315e-03 0.00000000e+00 0.00000000e+00 0.00000000e+00
 2.03075359e-04 0.00000000e+00 4.59404946e-04 2.38735285e-02
 1.58257633e-03 2.57069128e-05 0.00000000e+00 0.00000000e+00
 1.11541393e-03 2.34746172e-03 7.23250574e-01 2.98144231e-03
 6.86064257e-03 0.00000000e+00 3.21459771e-03 0.00000000e+00
 0.00000000e+00 4.52040360e-05 0.00000000e+00 2.04504650e-04
 0.00000000e+00 5.95981456e-03 0.00000000e+00 3.28458128e-05
 4.54304421e-02 6.46333110e-03 6.76489440e-04 0.00000000e+00
 0.00000000e+00]

In [16]:
train_features.head()

,Unnamed: 0.1,borough,neighborhood,building_class_category,tax_class,block,lot,building_class,address,zip_code,...,BBL,CondoNo,Tract2010,XCoord,YCoord,ZoneMap,TaxMap,PLUTOMapID,Version,MAPPLUTO_F
146431,179906,3,EAST NEW YORK,32,1,4042,27,B2,492 HENDRIX STREET,11207,...,3.040420e+09,0.0,1160.0,1015078.0,183256.0,17d,31304.0,1.0,17V1.1,0.0
146433,179908,3,BOROUGH PARK,32,1,5365,57,B1,1549 40 STREET,11218,...,3.053650e+09,0.0,228.0,989518.0,171280.0,22c,31608.0,1.0,17V1.1,0.0
146434,179909,3,NAVY YARD,1,1,2033,20,A5,CLERMONT AVENUE,11205,...,3.020330e+09,0.0,211.0,992174.0,193327.0,12d,30705.0,1.0,17V1.1,0.0
146435,179910,3,CYPRESS HILLS,7,1,3674,31,C0,172 MILLER AVENUE,11207,...,3.036740e+09,0.0,1198.0,1014029.0,185968.0,17c,31205.0,1.0,17V1.1,0.0
146436,179912,3,EAST NEW YORK,7,1,3773,13,C0,172 MILLER AVENUE,11207,...,3.037730e+09,0.0,1158.0,1013728.0,182933.0,17d,31206.0,1.0,17V1.1,0.0

In [17]:
len(test_features)
predictions = rf.predict(test_features)
errors = abs(predictions - test_labels)
print('Mean Absolute Error:', round(np.mean(errors), 2)/test_labels.mean())

Mean Absolute Error: 2.077807250221043